@{
    Layout = "_Layout2"; // Alternatif layout dosyası
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="~/css/StokKartıEkl.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<h3>Stok Kartı Tanım</h3>
<div class="container2">
    <form asp-action="StokKartiEkle" method="post" id="myForm">
        <button type="submit" id="saveButton" class="btn btn-primary saveButton" style="margin-bottom:10px; font-size: 12px; background-color:#384c5c;">
            <i class="fa-regular fa-floppy-disk"></i> Kaydet
        </button>

        <button type="button" id="generateCodeButton" class="btn btn-primary" style="margin-bottom:10px; font-size: 12px; background-color:#384c5c;">
            <i class="fa-solid fa-arrows-rotate"></i> Kod Üret
        </button>


        <div class="miniContainer" style="margin-bottom:30px; display:flex; flex-wrap:wrap; gap:20px;">
            <div class="birinciGrup" style="flex: 1; min-width: 300px;">
                <div class="col-md-12">
                    <label for="kpsft_stokKodu" class="form-label">Stok Kodu <span  class="required">*</span></label>
                    <input type="text" class="form-control" name="kpsft_stokKodu" style="width:108%" required id="kpsft_stokKodu">
                </div>

                <div class="col-md-12">
                    <label for="kpsft_stokAdi" class="form-label">Stok Adı <span  class="required">*</span></label>
                    <input type="text" class="form-control" name="kpsft_stokAdi" style="width:108%" required id="kpsft_stokAdi">
                </div>


                <div class="form-check form-switch" style="margin-left: 7%;margin-top: 3%;">
                    <input class="form-check-input" style="height: 73%; width: 11%;" type="checkbox"  id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="margin-left: 4%; margin-top: 1%;" id="switchLabel">Aktif</label>
                    <input type="hidden" id="checkboxValue" class="form-control" name="kpsft_durum">
                </div>
            </div>

            <div class="ikinciGrup" style="flex: 1; min-width: 300px;">


                <div class="col-md-12">
                    <label for="kpsft_grupKodu">Stok Grubu <span class="required">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text" data-toggle="modal" style="cursor: pointer;" data-target="#grpkod">
                            <i class="fa-solid fa-list"></i>
                        </span>
                        <input type="text" id="kpsft_grupAdi" required readonly>
                        <input type="hidden" id="kpsft_grupKodu" required readonly>
                        <input type="hidden" id="kpsft_grupKodu_id" name="kpsft_grupKodu">
                    </div>
                </div>


                <div class="col-md-12">
                    <label for="kpsft_kalite">Kalite <span class="required">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text" data-toggle="modal" style="cursor: pointer;" data-target="#klte">
                            <i class="fa-solid fa-list"></i>
                        </span>
                        <input type="text" id="kpsft_kalite_kod" required readonly>
                        <input type="hidden" id="kpsft_kalite_no" required readonly>
                        <input type="hidden" id="kpsft_kalite_id" name="kpsft_kalite">
                    </div>
                </div>
            </div>
            <div class="ucuncuGrup" style="flex: 1; min-width: 300px;">
                <div class="col-md-12">
                    <label for="kpsft_stokKartTipi">Stok Tipi <span class="required">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text" data-toggle="modal" style="cursor: pointer;" data-target="#stoktip">
                            <i class="fa-solid fa-list"></i>
                        </span>
                        <input type="text" id="kpsft_stokKartTipi" required readonly>
                        <input type="hidden" id="kpsft_stokKartTipi_id" name="kpsft_stokKartTipi">
                    </div>
                </div>


                <div class="col-md-12">
                    <label for="kpsft_birim">Birim <span class="required">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text" data-toggle="modal" style="cursor: pointer;" data-target="#birimModal">
                            <i class="fa-solid fa-list"></i>
                        </span>
                        <input type="text" id="kpsft_birim" required readonly>
                        <input type="hidden" id="kpsft_birim_id" class="form-control" name="kpsft_birim">
                    </div>
                </div>
            </div>

            <div class="dorduncuGrup" style="flex: 1; min-width: 300px;">
                <div class="col-md-12">
                    <label for="kpsft_uretim_turu">Üretim Türü <span class="required">*</span></label>
                    <select class="form-select" name="kpsft_uretim_turu" style="width: 54%; font-size: 12px;">
                        <option selected>Üretim Türü Seçiniz</option>
                        <option value="1">İMALAT</option>
                        <option value="2">FASON</option>
                        <option value="3">TİCARİ</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="tab">
            <button class="tablinks active" type="button" onclick="openCity(event, 'London')">Boyutlar</button>
            <button class="tablinks" type="button" onclick="openCity(event, 'Paris')">KDV Oranları</button>
            <button class="tablinks" type="button" onclick="openCity(event, 'Tokyo')">Stok Planlama</button>
        </div>

        <!-- Tab Content  -->
        <div id="London" class="tabcontent"

            <div class="miniContainer2" style="margin-bottom:30px; display:block;" id="home-tab" active>
                <div class="input_bloklari">
                    <div class="col-md-6">
                        <label for="kpsft_boyut1" class="form-label">Boyut-1</label>
                        <input type="text" class="form-control" name="kpsft_boyut1" id="kpsft_boyut1">
                    </div>

                    <div class="col-md-6">
                        <label for="kpsft_boyut2" class="form-label">Boyut-2</label>
                        <input type="text" class="form-control" name="kpsft_boyut2" id="kpsft_boyut2">
                    </div>
                </div>
                <div class="input_bloklari">
                    <div class="col-md-6">
                        <label for="kpsft_boyut3" class="form-label">Boyut-3(Kalınlık)</label>
                        <input type="text" class="form-control" name="kpsft_boyut3" id="kpsft_boyut3">
                    </div>

                    <div class="col-md-6">
                        <label for="kpsft_boyut4" class="form-label">Boyut-4(Uzunluk)</label>
                        <input type="text" class="form-control" name="kpsft_boyut4" id="kpsft_boyut4">
                    </div>
                </div>
                <div class="input_bloklari">
                    <div class="col-md-6">
                        <label for="kpsft_boyut5" class="form-label">Boyut-5(Çap)</label>
                        <input type="text" class="form-control" name="kpsft_boyut5" id="kpsft_boyut5">
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="kpsft_aciklama" class="form-label">Açıklama</label>
                    <input type="text" class="form-control" id="kpsft_aciklama" name="kpsft_aciklama">
                </div>
            </div>
        </div>



        <div id="Paris" class="tabcontent">
            <div class="miniContainer2" style="margin-bottom:30px;" id="home-tab">
                <div class="input_bloklari">

                    <div class="col-md-6">
                        <label for="kpsft_alisKdvOrani">Alış KDV Oranı</label>
                        <div class="input-group">
                            <span class="input-group-text" data-toggle="modal" style="height:26px; cursor: pointer;" data-target="#aliskdvorani">
                                <i class="fa-solid fa-list"></i>
                            </span>
                            <input type="text" id="kpsft_alisKdvOrani"  readonly>

                            <!-- Gizli ID alanı -->
                            <input type="hidden" id="kpsft_alisKdvOrani_id" name="kpsft_alisKdvOrani">
                        </div>
                    </div>






                    <div class="col-md-6">
                        <label for="kpsft_satisKdvOrani">Satış KDV Oranı</label>
                        <div class="input-group">
                            <span class="input-group-text" data-toggle="modal" style="height:26px; cursor: pointer;" data-target="#stskdvorani">
                                <i class="fa-solid fa-list"></i>
                            </span>
                            <input type="text"id="kpsft_satisKdvOrani" readonly>

                            <!-- Gizli ID alanı -->
                            <input type="hidden" id="kpsft_satisKdvOrani_id" name="kpsft_satisKdvOrani">
                        </div>
                    </div>





                    <div class="col-md-6">
                        <label for="kpsft_gtipKodu">Gümrük Tip Kodu</label>
                        <div class="input-group">
                            <span class="input-group-text" data-toggle="modal" style="height:26px; cursor: pointer;" data-target="#gtpkodu">
                                <i class="fa-solid fa-list"></i>
                            </span>
                            <input type="text"  id="kpsft_gtipKodu" readonly>

                            <!-- Gizli ID alanı -->
                            <input type="hidden" id="kpsft_gtipKodu_id" name="kpsft_gtipKodu">
                        </div>
                    </div>



                </div>
            </div>
        </div>




        <div id="Tokyo" class="tabcontent">
            <div class="miniContainer2" style="margin-bottom:30px;" id="home-tab">
                <div class="input_bloklari">
                    <div class="col-md-6">
                        <label for="kpsft_lotBuyuklugu" class="form-label">Lot Büyüklüğü</label>
                        <input type="text" class="form-control" name="kpsft_lotBuyuklugu" id="kpsft_lotBuyuklugu">
                    </div>
                    <div class="col-md-6">
                        <label for="kpsft_kritikMiktar" class="form-label">Kritik Miktar</label>
                        <input type="text" class="form-control" name="kpsft_kritikMiktar" id="kpsft_kritikMiktar">
                    </div>
                    <div class="col-md-6">
                        <label for="kpsft_uretim_parti_buyuklugu" class="form-label">Üretim Parti Büyüklüğü</label>
                        <input type="text" class="form-control" name="kpsft_uretim_parti_buyuklugu" id="kpsft_uretim_parti_buyuklugu">
                    </div>
                    
                </div>
            </div>
        </div>


    </form>



    <!--Alert Modalllll-->


    <div class="modal fade" id="uyarımodal" tabindex="-1" aria-labelledby="miktarBosModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Girmeniz gereken alanlar var!
                </div>
                <button style="    width: 30%;margin-left: 70%;" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#miktarBosModal').modal('hide')">
                    Kapat
                </button>
            </div>
        </div>
    </div>











    <!--BirimSecModal-->
    <div class="modal" id="birimModal" tabindex="-1" aria-labelledby="birimModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="birimModalLabel">Birim Seçiniz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Birim Kodu</th>
                                <th>Açıklama</th>
                                <th>Seç</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var birim in Model.BirimModel)
                            {
                                <tr>
                                    <td>@birim.kpsft_birimKodu</td>
                                    <td>@birim.kpsft_aciklama</td>
                                    <td>
                                        <button class="btn btn-primary select-birim" data-dismiss="modal" data-id="@birim.id_kpsft" data-value="@birim.kpsft_birimKodu">Seç</button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <form asp-action="YeniBirimEkle" asp-controller ="Admin" method="get">
                        <button class="btn btn-primary">Yeni</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--GtipSecModal-->
    <div class="modal" id="gtpkodu" tabindex="-1" aria-labelledby="gtipModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gtipModalLabel">Gümrük Tipi Kodu Seçiniz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Gtip Kodu</th>
                                <th>Açıklama</th>
                                <th>Seç</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var gtip in Model.GumrukKoduModel)
                            {
                                <tr>
                                    <td>@gtip.kpsft_gumruk_kodu</td>
                                    <td>@gtip.kpsft_aciklama</td>
                                    <td>
                                        <button class="btn btn-primary select-gtip" data-dismiss="modal" data-id="@gtip.id_kpsft" data-value="@gtip.kpsft_gumruk_kodu">Seç</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <form asp-action="YeniGumrukKoduEkle" asp-controller="Admin" method="get">
                        <button class="btn btn-primary">Yeni</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--SatisKdvOraniSecModal-->
    <div class="modal" id="stskdvorani" tabindex="-1" aria-labelledby="satisKdvModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="satisKdvModalLabel">KDV Oranı Seçiniz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>KDV Oranı</th>
                                <th>Açıklama</th>
                                <th>Seç</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var satisKdv in Model.SatisKdvOraniModel)
                            {
                                <tr>
                                    <td>@satisKdv.kpsft_kdv_orani</td>
                                    <td>@satisKdv.kpsft_aciklama</td>
                                    <td>
                                        <button class="btn btn-primary select-satisKdv" data-dismiss="modal" data-id="@satisKdv.id_kpsft" data-value="@satisKdv.kpsft_kdv_orani">Seç</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <form asp-action="YeniSatisKdvOraniEkle" asp-controller="Admin" method="get">
                        <button class="btn btn-primary">Yeni</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--AlisKdvOraniSecModal-->
    <div class="modal" id="aliskdvorani" tabindex="-1" aria-labelledby="alisKdvModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alisKdvModalLabel">KDV Oranı Seçiniz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>KDV Oranı</th>
                                <th>Açıklama</th>
                                <th>Seç</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var alisKdv in Model.AlisKdvOraniModel)
                            {
                                <tr>
                                    <td>@alisKdv.kpsft_kdv_orani</td>
                                    <td>@alisKdv.kpsft_aciklama</td>
                                    <td>
                                        <button class="btn btn-primary select-alisKdv" data-dismiss="modal" data-id="@alisKdv.id_kpsft" data-value="@alisKdv.kpsft_kdv_orani">Seç</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <form asp-action="YeniAlisKdvOraniEkle" asp-controller="Admin" method="get">
                        <button class="btn btn-primary">Yeni</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!--KaliteSecModal-->
    <!-- KaliteSecModal -->
    <div class="modal fade" id="klte" tabindex="-1" aria-labelledby="kaliteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="kaliteModalLabel">Kalite Seçiniz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <button style="margin-right: 9px; background-color:white;color:black; border-color:white" id="Seç" class="btn btn-primary"><i class="fa-solid fa-check"></i>Seç</button>
                <div class="datatable" style="width:100%;font-size:12px;">
                    <table id="kaliteTable" class="datatable">
                        <thead>
                            <tr>
                                <th style="display:none;">Id</th>
                                <th>Kalite Numarası</th>
                                <th>Kalite Kodu</th>
                                <th>Kalite Standardı</th>
                                <th>Açıklama</th>
                                <th>C%</th>
                                <th>Mn%</th>
                                <th>Si%</th>
                                <th>S % Max</th>
                                <th>P % Max</th>
                                <th>N ppm</th>
                                <th>Ceq%</th>
                                <th>Cu%</th>
                                <th>Al%</th>
                                <th>Mo%</th>
                                <th>V%</th>
                                <th>B%</th>
                                <th>Ca%</th>
                                <th>Ti%</th>
                                <th>Sn%</th>
                                <th>As%</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kalite in Model.KaliteModel)
                            {
                                <tr>
                                    <td style="display:none;">@kalite.id_kpsft</td>
                                    <th>@kalite.kpsft_kalite_no</th>
                                    <td>@kalite.kpsft_kalite_kod</td>
                                    <td>@kalite.kpsft_ilgiliStandart</td>
                                    <td>@kalite.kpsft_aciklama</td>
                                    <td>@kalite.kpsft_c</td>
                                    <td>@kalite.kpsft_mn</td>
                                    <td>@kalite.kpsft_si</td>
                                    <td>@kalite.kpsft_s_max</td>
                                    <td>@kalite.kpsft_p_max</td>
                                    <td>@kalite.kpsft_n</td>
                                    <td>@kalite.kpsft_ceq</td>
                                    <td>@kalite.kpsft_cu</td>
                                    <td>@kalite.kpsft_al</td>
                                    <td>@kalite.kpsft_mo</td>
                                    <td>@kalite.kpsft_v</td>
                                    <td>@kalite.kpsft_b</td>
                                    <td>@kalite.kpsft_ca</td>
                                    <td>@kalite.kpsft_ti</td>
                                    <td>@kalite.kpsft_sn</td>
                                    <td>@kalite.kpsft_as</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <form asp-action="YeniKaliteEkle" asp-controller="Admin" method="get">
                        <button class="btn btn-primary">Yeni</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!--GrupKoduSecModal-->
    <div class="modal" id="grpkod" tabindex="-1" aria-labelledby="grupKoduModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="grupKoduModalLabel">Grup Kodu Seçiniz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Grup Kodu</th>
                                <th>Grup Adi</th>
                                <th>Açıklama</th>
                                <th>Seç</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var grupKodu in Model.GrupModel)
                            {
                                <tr>
                                    <td>@grupKodu.kpsft_grup_kodu</td>
                                    <td>@grupKodu.kpsft_grup_adi</td>
                                    <td>@grupKodu.kpsft_aciklama</td>
                                    <td>
                                        <button class="btn btn-primary select-grupKodu" data-dismiss="modal" data-id="@grupKodu.id_kpsft" data-value="@grupKodu.kpsft_grup_kodu" data-ad="@grupKodu.kpsft_grup_adi">Seç</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <form asp-action="YeniGrupKoduEkle" asp-controller="Admin" method="get">
                        <button class="btn btn-primary">Yeni</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--StokKartTipiSecModal-->
    <div class="modal" id="stoktip" tabindex="-1" aria-labelledby="stokKartTipiModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stokKartTipiModalLabel">Stok Tipi Seçiniz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Stok Sınıf Kodu</th>
                                <th>Stok Tipi</th>
                                <th>Açıklama</th>
                                <th>Seç</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var stokKartTipi in Model.StokTipiModel)
                            {
                                <tr>
                                    <td>@stokKartTipi.kpsft_kod</td>
                                    <td>@stokKartTipi.kpsft_stok_tipi</td>
                                    <td>@stokKartTipi.kpsft_aciklama</td>
                                    <td>
                                        <button class="btn btn-primary select-stokKartTipi" data-dismiss="modal" data-id="@stokKartTipi.id_kpsft" data-value="@stokKartTipi.kpsft_kod">Seç</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <form asp-action="YeniStokTipiEkle" asp-controller="Admin" method="get">
                        <button class="btn btn-primary">Yeni</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<!-- Kendi JavaScript Kodunuz -->
<script>
    $(document).ready(function () {
        // DataTable'ı başlat
        $('#kaliteTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true
        });
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>

<script src="~/css/StokKartiEkle.js"></script>
